/*
 1 - CONTENT
 2 - CONTAINER
 *     2-1 - ABOUT
 *     2-2 - SKILLS
 *     2-3 - EDUCATION
 *     2-4 - EXPERIENCE
 *     2-5 - PORTFOLIO
*/



/* CONTENT */

body {
    background: url('../img/backgroundWorld.jpg');
    background-size: cover;
    background-position: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 65%;
    max-width: 1000px;
    height: 70vh;
}

/*  2-1 - ABOUT */

.photo-profile img {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        width: 100%;
        box-shadow: 0 0 5px rgba(0,0,0,.4);
    }

/*  2-2 - SKILLS */



/*  2-3 - EDUCATION */


/*  2-4 - EXPERIENCE */



/*  2-5 - PORTFOLIO */


