/*  about color*/

.navbar-custom {
    background-color: rgb(234, 215, 200);
}

.navTxtColor {
    color: rgb(77, 0, 0);
    font-weight: bold;
}

.navbar-custom .nav-item .nav-link.active,
.navbar-custom .nav-item .nav-link:focus,
.navbar-custom .nav-item .nav-link:hover {
    background-color: rgb(77, 0, 0);
    color: white;
}

.border-custom {
   border: 5px solid rgb(77, 0, 0);
   border-radius: 3px 4px;
}

/*  skills color*/
